
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>my-blog-login</title>
    <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/Login/static/css/app.f909315b31128890b7bc561f18b928b3.css" rel="stylesheet" />
</head>
<body>
    <div id=app></div>
    <script>
        window.userInfo = @MvcHtmlString.Create(ViewBag.userInfo)        
    </script>
    <script src="~/Content/Login/static/js/manifest.99ad41a78d6759ccabe7.js"></script>
    <script src="~/Content/Login/static/js/vendor.95e8b7783649b1554709.js"></script>
    <script src="~/Content/Login/static/js/app.94f967b3092b7c59541a.js"></script>
</body>
</html>
