
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>刘小先森的博客。</title>

    <link href="~/Content/MShow/static/css/app.d73d6cbac0873fae0fd20ee8d993feea.css" rel="stylesheet" />
    
</head>
<body>
    <div id=app></div>
    <script src="~/Content/MShow/static/js/manifest.fb4336d99cae76363aba.js"></script>
    <script src="~/Content/MShow/static/js/vendor.6f078341d48679a3bbb5.js"></script>
    <script src="~/Content/MShow/static/js/app.e04d6e33000d5c2ff839.js"></script>
</body>
</html>
