
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>刘小先森的博客。</title>

    <link href="~/Content/MShow/static/css/app.84d0f164315a0d10358f68ad14c51b3c.css" rel="stylesheet" />
    
</head>
<body>
    <div id=app></div>
    <script src="~/Content/MShow/static/js/manifest.b3d8e83b8fd9dc7c98d1.js"></script>
    <script src="~/Content/MShow/static/js/vendor.4fffefa11cf439528de6.js"></script>
    <script src="~/Content/MShow/static/js/app.bffba7343a156620f1cf.js"></script>
</body>
</html>
