
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>刘小先森的博客</title>
</head>
<body>
    <div> 
        不好意思，pc页面正在施工哟！请先用手机访问哟！
    </div>
</body>
</html>
