
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <title>blog-web-marster</title>
    <link href="~/Content/Admin/static/css/app.c8baf5d75172a5c185f2d6792174c2e7.css" rel="stylesheet" />
    
    
    
        
</head>
<body>
    <div id=app></div>    
    <script src="~/Content/Admin/static/js/manifest.2efccc14943b3aef350c.js"></script>
    <script src="~/Content/Admin/static/js/vendor.e191b5c27bbb1cf082fb.js"></script>
    <script src="~/Content/Admin/static/js/app.f479c4b0befa2bc603ba.js"></script>
</body>
</html>
