
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <title>blog-web-marster</title>        



    <link href="~/Content/Admin/static/css/app.d292534e4a1bd5c398c622f3dffa8ac7.css" rel="stylesheet" />
    
    
</head>
<body>
    <div id=app></div>

    <script src="~/Content/Admin/static/js/manifest.39223532d6fcea5e4d98.js"></script>
    <script src="~/Content/Admin/static/js/vendor.998bd3234ba8531753b5.js"></script>
    <script src="~/Content/Admin/static/js/app.7202d5e43faf570634f7.js"></script>
</body>
</html>
