
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <title>blog-web-marster</title>
    <link href="~/Content/Admin/static/css/app.42752b84d88b71a049b23d0dbe1bb631.css" rel="stylesheet" />
        
</head>
<body>
    <div id=app></div>    
    <script src="~/Content/Admin/static/js/manifest.2623a7d3000b87cc976a.js"></script>
    <script src="~/Content/Admin/static/js/vendor.8b41f0a601845941c1ed.js"></script>
    <script src="~/Content/Admin/static/js/app.04d1c06c0051a08cf6b6.js"></script>
</body>
</html>
