
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <title>blog-web-marster</title>
    <link href="~/Content/Admin/static/css/app.3535394b05130863c1f9f6e987d66ef2.css" rel="stylesheet" />
</head>
<body>
    <div id=app></div>
    <script src="~/Content/Admin/static/js/manifest.7af8ecb881e369d3a9df.js"></script>
    <script src="~/Content/Admin/static/js/vendor.8b41f0a601845941c1ed.js"></script>
    <script src="~/Content/Admin/static/js/app.c0867de1a44cd3e1ce75.js"></script>
</body>
</html>
